<section class="body">
  <div class="card-formulario sombra">
    <div class="div-img">
      <img src="../../../assets/img/login.png" width="100%" height="80%" />
    </div>

    <div class="alinear">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field>
            <mat-label class="font">Usuario</mat-label>
            <input
              class="font"
              matInput
              id="username"
              formControlName="username"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input">
            <mat-label class="font">Contraseña</mat-label>
            <input
              type="password"
              class="font"
              matInput
              id="password"
              formControlName="password"
            />
          </mat-form-field>
        </div>
        <div>
          <button
            type="submit"
            class="btn"
            mat-raised-button
            color="primary"
            [disabled]="!loginForm.valid"
          >
            Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
